<cms-header (selectedFeatureEvent)="switchView($event)"> </cms-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      @if (selectedFeature === 'documents') {
      <cms-documents></cms-documents>
      } @if (selectedFeature === 'messages') {
      <cms-message-list></cms-message-list>
      } @if (selectedFeature === 'contacts') {
      <cms-contacts></cms-contacts>
      }
      <!-- <cms-documents *ngIf="selectedFeature === 'documents'"></cms-documents>
      <cms-message-list *ngIf="selectedFeature === 'messages'"></cms-message-list>
      <cms-contacts *ngIf="selectedFeature === 'contacts'"></cms-contacts> -->
    </div>
  </div>
</div>


<!-- @switch (selectedFeature) {
  @case ('documents') {
    <cms-documents></cms-documents>
  }
  @case ('messages') {
    <cms-message-list></cms-message-list>
  }
  @case ('contacts') {
    <cms-contacts></cms-contacts>
  }
  @default {
    <p>No feature selected.</p>
  }
} -->
